nav.navbar {
  background: transparent;
  border-radius: 0;
  margin-bottom: 0;
}
nav.navbar ul.nav li {
  padding-left: 15px;
}
nav.navbar ul.nav li a {
  font-family: Helvetica neue;
  color: #ecf0f1;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 15px 0;
}
nav.navbar ul.nav li a.inverse {
  color: #2c3e50;
}
nav.navbar ul.nav li a:hover {
  background: none;
  border-bottom: 2px solid #ecf0f1;
}
div.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
div.wrapper section#s1 {
  background-color: #468966;
}
div.wrapper section#s2 {
  background-color: #FFF0A5;
}
div.wrapper section#s3 {
  background-color: #FFB03B;
}
div.wrapper section#s4 {
  background-color: #B64926;
}
div.wrapper section#s5 {
  background-color: #8E2800;
}
div.jumbotron h1 {
  font-size: 150px;
}
